
html {
    font-family: 'Rubik', sans-serif;
}

.postcontainer {
    width: 45%;
    margin: 0 auto;
}

.card {
    margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  .postcontainer {
      width: 95%;
  }
}


